:root {
  --bg-color: #333;
  --font-color: #fff;
  --link-color: #6abce6;
  /* --primary-color: #970001; */
  --primary-color: #800400;
  --dark-overlay: rgba(0,0,0,0.3);
  --dark-bg: rgba(0,0,0,0.7);
  --icon-size: 30px;
  --fancy-font: 'Advent Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}

 /* var(--var-name) */

 /* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Advent Pro', sans-serif; */

 body {
   background: var(--bg-color);
   color: var(--font-color);
 }

 .navbar {
   border-bottom: var(--primary-color) 3px solid;
   opacity: 0.95;
 }

 #home-section {
   background: url('/img/solutions2.png') no-repeat;
   min-height: 800px;
   background-size: cover;
   background-attachment: fixed;
 }

 .dark-overlay {
   background-color: var(--dark-overlay);
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   min-height: 800px;
 }

 .home-inner {
   padding-top: 150px;

 }

 .card-form {
   opacity: 0.8;
 }

 .check-icon.svg-inline--fa {
   color: var(--primary-color);
   background: #fff;
   padding: 4px;
   border-radius: 5px;
   font-size: var(--icon-size);
 }

 .check-icon.svg-inline--fa.dark-bg {
  color: var(--font-color);
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: var(--icon-size);
}

.banner-lead,
.fancy {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
}

.fancy-alt {
  font-family: 'Lato', sans-serif;
}

.form-bg {
  background: var(--primary-color);
}

.modal {
  /* background: var(--primary-color); */
  background: var(--dark-bg);
  /* opacity: 0.9; */
}

.modal-header,
#btn-contact {
  background-color:var(--primary-color);
  color: var(--font-color);
}

#btn-contact {
    margin-top: 1rem;
  margin-bottom: 1rem;
}

.g-recaptcha > div {
  margin-left: auto;
  margin-right: auto;
}


.logo {
  max-height: 50px;
  max-width: auto;
}

.form-control:focus {
  border-color:#fff;
}

.head-section {

}

.dk-link {
  color: var(--link-color);
}
.dk-link:hover {
  color: var(--font-color);
}

li>a.dk-link {
  text-decoration: none;
}

#marketing-head-section, 
#monitor-head-section {
  background: var(--primary-color);
}

.btn-feature:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

hr.white {
  border-color: var(--font-color) !important;
}

hr.red:hover {
  border-color: var(--primary-color) !important;
}

.btn-outline-light:hover > hr.hov-dk {
  border-color: var(--bg-color) !important;
}

.img-overlay, .blog-footer-overlay {
  position: relative;
}

.footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

#logo-footer {
  max-width: auto;
  max-height: 150px;
}

#footer-copyright {
  background-color: #313131;
  color: #eee;
}

#footer-copyright a {
  text-decoration: none;
}

.white {
  color: var(--font-color);
}

.red {
  color: var(--primary-color);
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  /* background-color: #2b2b2b; */
  border-top: .05rem solid #e5e5e5;
  background: url('../img/bg-downtown-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.modal-header {
  justify-content: center;
}